<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Pelican Surf Report</title>
    <link rel="stylesheet" href="/static/home.css" />
    <style>
        .pointer {
            background-color: #dc7c06;
            grid-area: 1/1;
            z-index: 10;
            height: 20px;
            aspect-ratio: 2/1;
            clip-path: polygon(0 0, 100% 0, 50% 100%);
            margin: auto;
            transform: rotate({{wave_direction}}deg)
        }
    </style>
</head>
<div class="container">
            <header class="header">
                <div class="logo">
                    <img src="/static/pelican.png" alt="Pelican" width="150" height=100>
                </div>
                <h1> Pelican Surf Report </h1>
            </header>

            <h2> Arecibo, Puerto Rico : Surf Conditions </h2>
            <h3>Swell Conditions</h3>
            <div class="compass">
                <div class="dot"></div>
                    <div class="pointer"></div>
            </div>
            <p>{{wave_data}} m at {{period_data}} seconds || {{wave_direction}} degrees</p>

            <h3>Wind Speed and direction</h3>
            <p> {{wind_speed}} || {{wind_direction}}</p>

            <h3>Wind gusts</h3>
            <p>{{wind_gusts}}</p>
        </div>
</html>
